<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Admin area{% endblock %}</title>

        {% stylesheets
            '@AnhAdminBundle/Resources/public/style.css'
        %}<link rel="stylesheet" href="{{ asset_url }}" />{% endstylesheets %}

        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

        {% block stylesheets '' %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="body">
            {% block body '' %}
        </div>

        {% block javascripts '' %}
    </body>
</html>
