form {
    font-size: 16px;
}

form input, form select {
    font-size: 16px;
}

form input[type="text"], form input[type="password"] {
    width: 100%;
}

form .form_row {
    margin-bottom: 0.8em;
}

form label {
    font-family: 'Open Sans', sans-serif;
}